@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    --header-height: 10dvh;
    --off-white: #e7d6cb;
    --green: rgb(15, 87, 63);
    --border-thick: 0.125rem solid;
    --border-thin: 0.08rem solid;
    font-size: clamp(1.0625rem, 1.0461rem + 0.0658vw, 1.125rem);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-tap-highlight-color: transparent;
    overflow-x: clip;

}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}


body {
    position: relative;
    /* display: grid; */
    width: 100vw;
    min-height: calc(100dvh - var(--header-height));
    font-size: var(--font-size);
    color: var(--green);
    background-color: var(--off-white);
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    font-weight: 400;
    overflow-x: clip;

    @media (width > 40rem) {
        grid-template-columns: 35% 1fr;
    }
}

p {
    margin-bottom: 0.5rem;
}

/* Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    position: fixed;
    inset: 0 0 auto 0;
    background-color: var(--off-white);
    border-top: var(--border-thick) var(--green);
    z-index: 1000;
    padding: 0.6rem 1.4rem;

    & a {
        text-decoration: none;
    }

    @media (width > 40rem) {
        justify-content: center;
    }
    
}

.header-desktop{
    font-size: clamp(0.8125rem, 0.7796rem + 0.1316vw, 0.9375rem);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    max-width: 80rem;
}

/* End of Header */

.flex-center {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}
.inline-icon {
    height: 1.4rem;
}

/* First block - logo, nav */

.first-block {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100svh - var(--header-height));

    @media (width > 40rem) {
        width: auto;
        position: sticky;
        top: 0;
        height: calc(100dvh - var(--header-height));
        max-height: calc(100dvh - var(--header-height));
        border-right: var(--border-thick) var(--green);
    }
}



.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    /* min-height: 7rem; */
    
    & img {
        padding: 1rem 2rem 1.5rem;
        max-width: 25rem;
    }

    & .grad {
        background: linear-gradient(0deg, rgba(17, 98, 72, 0) 0%, var(--green) 70%);
        width: 100%;
        position: absolute;
        height: 40vh;
        z-index: -20;
    
    }
}

.nav-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;

    @media (width > 40rem) {

        max-height: 40rem;
    }


}

.arrow-down {
    width: 1rem;
    height: min-content;
    transform: rotate(90deg);
}

/* End of First Block */

/* Navigation - in First Block (different on mobile and desktop)
and inside hamburger menu */

nav {

    @media (width > 40rem) {
        max-height: 12rem;
    }

    & ul {
        
        height: 100%;
        flex-grow: 1;
        padding-bottom: 1rem;
    }

    & button {
        background: none;
        border: none;
        padding: 0;
    }
    .nav__close {
        height: 100%;
        margin-inline-start: auto;
    }
    .nav__open {
        height: 100%;
    }
    .nav__open[aria-expanded=true] + .nav__menu {
        translate: 0;
        transition: all 0.5s ease-in-out;
    }
    .nav__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 2rem;
        position: fixed;
        color: var(--off-white);
        background: linear-gradient(0deg, var(--off-white) 0%, var(--green) 70%);
        inset: 0;
        translate: 100vw 0;
        transition: all 0.5s ease-in-out;
        padding: 0 1.4rem;
        border-left: 3px solid var(--green);
    }
    .nav__close-container {
        height: var(--header-height);
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0.6rem 0;
    }
}

.nav-mobile {
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

#mobile-header-logo {
    max-height: 100%;
    max-width: 70%;
}

.logo-hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.logo-shown {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.nav__item {

    list-style-type: none;
    padding: 0.7rem 1rem 0.5rem 1rem;
    border: var(--border-thick) var(--green);
    background-color: var(--off-white);
    border-radius: 20px;
    transform: scale(1);
    transition: all 0.3s ease-out;
    text-align: center;
    line-height: 1rem;
    font-size: 1.2rem;

    & a {
        color: var(--green) !important;
        text-decoration: none;
        font-family: temeraire, serif;
        font-style: italic;
        font-weight: 300;
    }

    @media (width < 40rem) {
        padding: 0.7rem 1rem 0.5rem;
        font-size: 1.6rem;
        line-height: 1.4rem;
    }
}

.nav__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.nav__item:hover {
    cursor: pointer;
    box-shadow: inset var(--green) 0px -20px 30px -15px;
}

.nav__close,.nav__open {
    & img {
        width: 3rem;
        height: 3rem;
    }
}

/* Nav DESKTOP */

@media (width > 40rem) {

    .nav__open {
        display: none;
    } 

}



/* End of Nav DESKTOP */

main {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 2rem 0 2rem;

    @media (width > 40rem) {
    }
}

section {
    margin: 0 0 3rem 0;
}

.mobile-only {

    @media (width > 40rem) {
        display: none;
    }
}

.desktop-only {

    @media (width < 40rem) {
        display: none;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.flex-row {

    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.soc-button {
    width: 4rem;
}

.lang-menu {
    font-size: 1.5rem;
    font-family: temeraire, serif;
    font-style: italic;

    & img {
        margin: 0 0.4rem -0.25rem 0;
    }
}

.FA-fb {
    width: 1.6rem;
    margin: 0 0.6rem -0.25rem 0;
}

.hidden {
    display: none;
}
h1 {
    font-family: temeraire, serif;
    font-style: italic;
    font-weight: 100;
    font-size: 3em;
}

h2 {
    font-family: temeraire, serif;
    font-style: italic;
    font-weight: 100;
    font-size: 2.5em;
}

h3 {
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .15rem;

    & button {
        letter-spacing: .15rem;
        text-transform: uppercase;
    }
}

.regular {
    font-style: normal;
    font-weight: 600;
}

.small {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 0.7em;
}

strong {
    font-weight: 600;
}

/* .contact-item {

    border: 1.5px solid var(--green);
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    min-width: max-content;
    & a {
        text-decoration: none;
        font-weight: 400;
    }
} */

a {
    color: var(--green);
    text-decoration: underline;
    font-weight: 600;
}

a:hover {
    color: var(--green);
    text-decoration: none;
}

a:visited {
    color: var(--green);
}

footer {
    color: var(--off-white);
    padding: 1rem 2rem;
    border-top: var(--border-thick) var(--green);
    /* background: linear-gradient(180deg, rgba(17, 98, 72, 0) 10%, var(--green) 70%); */
    background-color: var(--green);

    @media (width > 40rem) {
        grid-column: 2 / 3;
        padding-left: 2rem;
    }

    & p {
        margin: 0;
    }
}

.prodejna {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: var(--border-thin);
    border-radius: 12px;
    margin-top: 1rem;
}

.prodejna > * {
    
    /* min-width: 16rem; */
}

.prodejna div:nth-of-type(1) {
    padding: 0.7rem;
    min-width: 40%;
}

.prodejna p:nth-of-type(1) {
    margin-top: 0.5rem;
}

.map-container {
    min-height: 16rem;
    border: none;
    flex: 1;
    min-width: 300px;
    outline: var(--border-thin) var(--green);
    border-radius: 0 12px 12px 0;

    @media (width < 922px) {
        border-radius: 0 0 12px 12px;
    }

    & iframe {
        width: 100%;
        height: 100%;

    }
}

.flex-layout {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.flex-layout > * {
    flex: 1;
    /* min-width: 16rem; */
}

/* Infobox */
.infobox {
    border: var(--border-thin);
    border-radius: 12px;
    padding: 0.7rem;
    /* background: linear-gradient(0deg, var(--off-white) 80%, var(--green) 180%); */
    background-color: rgba(15, 87, 63, 0.096);

    & p {
        margin: 0;
    }
}
.infobox p:nth-of-type(1) {
    padding-top: 0.5rem;
}

.highlight {
    font-family: temeraire, serif;
    font-style: italic;
}

/* End of Infobox */


/* Accordion */
.accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
  }
  
  .accordion-content[aria-hidden="false"] {
    grid-template-rows: 1fr;
  }
  
  .accordion-content {

    & > div {
    overflow: hidden;
    }

  }

  .historie-block {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 0;

    & p {
        flex: 1;
        min-width: 14rem;
    }
  }

  .historie-flag {
    color: var(--green);
    font-family: temeraire, serif;
    font-style: italic;
    font-size: 1.5rem;
    min-width: 4.5rem;
    padding: 0 0.1rem 0 0;
  }
  

  .accordion-panel {
    border: var(--border-thin);
    border-radius: 12px;
    padding: 0.7rem;
  }
  
  .accordion-trigger {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    border: 0;
    font: inherit;
    color: inherit;
    /* margin-bottom: 2rem; */
  }

  .accordion-trigger::after {
    font-size: 1rem;
    content: "â¯";
    display: block;
    transition: transform 500ms;
  }
  
  .accordion-trigger[aria-expanded="true"]::after {
    transform: rotate(90deg);
  }

  /* End of Accordion */

#hero-section {
    height: calc(100vh - var(--header-height));
    /* max-height: 40rem; */
    display: flex;
    flex-direction: column;

    @media (width > 40rem) {
        max-height: 36rem;
    }

}


.hero {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin: var(--header-height) auto 0 auto;
    width: 100%;
    max-width: 90rem;
    padding: 0 2rem;
    max-height: 75%;
    font-size: clamp(0.8rem, 0.1964rem + 1.4857vw, 1.125rem);

    @media (width < 40rem) {
        flex-direction: column;
        align-items: center;
        gap: 0;
        max-height: 100%;
    }
}

.hero > * {
    /* flex-grow: 1; */
}

.hero__text {
    flex-shrink: 3;
    align-self: center;
    

    @media (width < 40rem) {
        color: var(--off-white);
        text-align: center;
        background-color: aliceblue;
        width: 100vw;
        padding: 2rem 2rem;
        background: linear-gradient(0deg, rgba(17, 98, 72, 0) 0%, var(--green) 70%);
    }
}

.hero__logo {
    aspect-ratio: 1;
    height: 100%;
    max-height: 30rem;
    overflow: hidden;
    max-width: 35rem;

    & video {
        max-width: 100%;
        object-fit: contain;
        object-position: bottom;
    }
}

.grad {
    background: linear-gradient(0deg, rgba(17, 98, 72, 0) 0%, var(--green) 70%);
    width: 100vw;
    height: 100%;

    @media (width < 40rem) {
        display: none;
    }
}
.grad-2 {
    background: linear-gradient(0deg, rgba(17, 98, 72, 0) 0%, var(--green) 70%);
    width: 100vw;
    height: 100%;
    overflow: visible;
    align-self: center;

    @media (width > 40rem) {
        display: none;
    }
}